a{
    text-decoration: ;
}
a:hover{
    background-color: blueviolet
    color(yellow);
}
a:focus{
    background-color: blue;
    color: antiquewhite;
}
page-link{
    padding: 20px;
    margin: 20px;
}