#para-1{
    border:2px solid grey;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 25px;
}
#para-2{
    border:2px solid red;
    margin:50px;
}
#para-3{
    border:2px solid yellow;
    morgin:50px;
}