h1::before{
    content: " Mr";
}
h1::after {
  content: " 🔥";
}
.button {
  position: relative;
  padding: 10px 20px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
  overflow: hidden;
}
.button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background: rgb(17, 4, 51);
  transition: width 0.3s ease;
}
.button:hover::after {
  width: 100%;
}