.container1{
    background-color: aqua;
    color: rgb(190, 112, 16);
    height: 100px;
    width: 100px;
    padding: 20px;
    text-align: center;
    transition: transform 5s ease-in-out;
}
.container1:hover{
    transform: rotate(160deg);
}
.container2{
    background-color: orchid;
    color: orangered;
    height: 100px;
    width: 100px;
    padding: 20px;
    text-align: center;
    transition: transform 3s ease;
}
.container3:hover{
    background-color: rgb(21, 6, 77);
    color: black;
    height: 100px;
width: 100px;
padding: 20px;
text-align: center;
transition: transform 5s ease;
}
.container3:hover{
    transform:scale(1.5)
}




