.container1{
  display:block;
  background-color: brown;
  color: black;
  padding: 25px;
  margin-bottom: 25px;
  box-shadow: 10px 10px 2px orangered;
}
.container2{
  display: none;
  background-color: blueviolet;
  color: blue;
  margin-bottom: 25px;
  padding:25px;
  box-shadow:10px 10px 2px pink;
}